20220123_location_sonos_flows.json
[{"id":"b017b8c4.bbce28","type":"tab","label":"フロー 1","disabled":false,"info":""},{"id":"ba301ca9.d8d5b8","type":"debug","z":"b017b8c4.bbce28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":670,"y":60,"wires":[]},{"id":"daaa5a65.a21ac8","type":"worldmap","z":"b017b8c4.bbce28","name":"","lat":"35.62245","lon":"139.474715","zoom":"14","layer":"","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","showgrid":"false","allowFileDrop":"false","path":"/worldmap","overlist":"DR,CO,RA,DN,HM","maplist":"OSMC,EsriC,EsriS,EsriT,EsriDG,UKOS,SW","mapname":"","mapurl":"","mapopt":"","mapwms":false,"x":680,"y":140,"wires":[]},{"id":"8768cdbd.20d918","type":"better-sonos-status","z":"b017b8c4.bbce28","confignode":"aab5929f.1e2fe","name":"","x":300,"y":140,"wires":[["84ab4e7d.45fa58","e469c7b0.e4b798"]]},{"id":"7bcc1549.adebec","type":"location","z":"b017b8c4.bbce28","name":"","x":90,"y":60,"wires":[["e407f8fe.285de"]]},{"id":"e407f8fe.285de","type":"delay","z":"b017b8c4.bbce28","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":260,"y":60,"wires":[["3286777e.291538"]]},{"id":"3286777e.291538","type":"change","z":"b017b8c4.bbce28","name":"","rules":[{"t":"set","p":"lat","pt":"msg","to":"payload.location.latitude","tot":"msg"},{"t":"set","p":"lon","pt":"msg","to":"payload.location.longitude","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":60,"wires":[["ba301ca9.d8d5b8","8768cdbd.20d918"]]},{"id":"84ab4e7d.45fa58","type":"change","z":"b017b8c4.bbce28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"lat\": msg.lat,\t    \"lon\": msg.lon,\t    \"name\": \"Now Playing.. \" & msg.payload\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":140,"wires":[["daaa5a65.a21ac8","3b40e9e.b398596"]]},{"id":"3b40e9e.b398596","type":"debug","z":"b017b8c4.bbce28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":670,"y":200,"wires":[]},{"id":"e469c7b0.e4b798","type":"debug","z":"b017b8c4.bbce28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":450,"y":200,"wires":[]},{"id":"aab5929f.1e2fe","type":"better-sonos-config","z":"","name":"Sonos Roam","serialnum":"54-2A-1B-49-8B-9C:4","ipaddress":"192.168.3.5"}]