ATEM_mini_flow_sample_01.json
[{"id":"fc0cbc1d.b7914","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a45f34e4.5df8e8","type":"function","z":"fc0cbc1d.b7914","name":"Change Input On ME 0 To Input 1","func":"var msg1 = {\n    \"payload\": {\n        \"cmd\": \"programInput\",\n        \"data\": {\n            \"ME\": 0,\n            \"videoSource\": {\n                \"id\": 1\n            }\n        }\n    }\n}\nreturn msg1;","outputs":1,"noerr":0,"x":380,"y":400,"wires":[["cce77a1b.b25468"]]},{"id":"b9b44a35.357908","type":"inject","z":"fc0cbc1d.b7914","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":140,"y":400,"wires":[["a45f34e4.5df8e8"]]},{"id":"9e5adc41.4686c","type":"debug","z":"fc0cbc1d.b7914","name":"","active":true,"console":"false","complete":"false","x":818,"y":399,"wires":[]},{"id":"bb0e7058.b5647","type":"function","z":"fc0cbc1d.b7914","name":"Change Input On ME 0 To Input 2","func":"var msg1 = {\n    \"payload\": {\n        \"cmd\": \"programInput\",\n        \"data\": {\n            \"ME\": 0,\n            \"videoSource\": {\n                \"id\": 2\n            }\n        }\n    }\n}\nreturn msg1;","outputs":1,"noerr":0,"x":380,"y":460,"wires":[["cce77a1b.b25468"]]},{"id":"14e24010.4b239","type":"inject","z":"fc0cbc1d.b7914","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":140,"y":460,"wires":[["bb0e7058.b5647"]]},{"id":"cce77a1b.b25468","type":"atem-atem","z":"fc0cbc1d.b7914","name":"ATEM mini","network":"4fcc37e9.20daf8","outputMode":"supported","sendInitialData":"yes","sendStatusUpdates":"yes","x":650,"y":400,"wires":[["9e5adc41.4686c"]]},{"id":"4fcc37e9.20daf8","type":"atem-network","z":"","name":"ATEM mini","ipAddress":"192.168.0.240"}]