ATEM-Mini-flows.json
[{"id":"a34e9558.00acc8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"588e61c9.22444","type":"atem-atem","z":"a34e9558.00acc8","name":"ATEM Mini Pro","network":"ad19f760.a08f98","outputMode":"supported","sendTime":"yes","sendInitialData":"yes","sendStatusUpdates":"yes","x":220,"y":120,"wires":[["fdbb7d5c.3d3fd","de8e10bd.e0b6d"]]},{"id":"fdbb7d5c.3d3fd","type":"debug","z":"a34e9558.00acc8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":60,"wires":[]},{"id":"2bea859b.ced2da","type":"ui_button","z":"a34e9558.00acc8","name":"","group":"eb1845e5.ed8d88","order":1,"width":"2","height":"1","passthru":false,"label":"1","tooltip":"","color":"BLACK","bgcolor":"{{background}}","icon":"","payload":"{\"cmd\":\"previewInput\",\"data\":{\"ME\":0,\"videoSource\":{\"id\":1}}}","payloadType":"json","topic":"topic","topicType":"msg","x":690,"y":260,"wires":[["6466b0eb.17f7c"]]},{"id":"de8e10bd.e0b6d","type":"switch","z":"a34e9558.00acc8","name":"","property":"payload.cmd","propertyType":"msg","rules":[{"t":"eq","v":"tally","vt":"str"},{"t":"eq","v":"programInput","vt":"str"},{"t":"eq","v":"previewInput","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":410,"y":120,"wires":[["d190279d.d73f28","9ece3286.acd46"],["7db89ecd.631f9"],["68164f73.e803e"]]},{"id":"9ece3286.acd46","type":"debug","z":"a34e9558.00acc8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":590,"y":60,"wires":[]},{"id":"85f83bde.962d58","type":"ui_button","z":"a34e9558.00acc8","name":"","group":"eb1845e5.ed8d88","order":2,"width":"2","height":"1","passthru":false,"label":"2","tooltip":"","color":"BLACK","bgcolor":"{{background}}","icon":"","payload":"{\"cmd\":\"previewInput\",\"data\":{\"ME\":0,\"videoSource\":{\"id\":2}}}","payloadType":"json","topic":"topic","topicType":"msg","x":690,"y":300,"wires":[["6466b0eb.17f7c"]]},{"id":"7fe1df82.53136","type":"ui_button","z":"a34e9558.00acc8","name":"","group":"eb1845e5.ed8d88","order":3,"width":"2","height":"1","passthru":false,"label":"3","tooltip":"","color":"BLACK","bgcolor":"{{background}}","icon":"","payload":"{\"cmd\":\"previewInput\",\"data\":{\"ME\":0,\"videoSource\":{\"id\":3}}}","payloadType":"json","topic":"topic","topicType":"msg","x":690,"y":340,"wires":[["6466b0eb.17f7c"]]},{"id":"d63d6e65.c9297","type":"ui_button","z":"a34e9558.00acc8","name":"","group":"eb1845e5.ed8d88","order":4,"width":"2","height":"1","passthru":false,"label":"4","tooltip":"","color":"BLACK","bgcolor":"{{background}}","icon":"","payload":"{\"cmd\":\"previewInput\",\"data\":{\"ME\":0,\"videoSource\":{\"id\":4}}}","payloadType":"json","topic":"topic","topicType":"msg","x":690,"y":380,"wires":[["6466b0eb.17f7c"]]},{"id":"6466b0eb.17f7c","type":"link out","z":"a34e9558.00acc8","name":"ATEM Input","links":["32c54443.1d173c"],"x":835,"y":260,"wires":[]},{"id":"32c54443.1d173c","type":"link in","z":"a34e9558.00acc8","name":"","links":["6466b0eb.17f7c"],"x":75,"y":120,"wires":[["588e61c9.22444","33fa4dca.504572"]]},{"id":"33fa4dca.504572","type":"debug","z":"a34e9558.00acc8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":210,"y":60,"wires":[]},{"id":"1438a3e5.6742bc","type":"ui_button","z":"a34e9558.00acc8","name":"","group":"12c9803f.c32bd","order":2,"width":"2","height":"1","passthru":false,"label":"CUT","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"cmd\":\"performCut\",\"data\":{\"ME\":0}}","payloadType":"json","topic":"topic","topicType":"msg","x":690,"y":420,"wires":[["6466b0eb.17f7c"]]},{"id":"4099ec20.0719a4","type":"ui_button","z":"a34e9558.00acc8","name":"","group":"12c9803f.c32bd","order":4,"width":"2","height":"1","passthru":false,"label":"AUTO","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"cmd\":\"performAuto\",\"data\":{\"ME\":0}}","payloadType":"json","topic":"topic","topicType":"msg","x":690,"y":460,"wires":[["6466b0eb.17f7c"]]},{"id":"7db89ecd.631f9","type":"debug","z":"a34e9558.00acc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":140,"wires":[]},{"id":"a2599231.a480d","type":"comment","z":"a34e9558.00acc8","name":"tally","info":"","x":110,"y":360,"wires":[]},{"id":"c7496b91.614c38","type":"comment","z":"a34e9558.00acc8","name":"programInput","info":"","x":770,"y":140,"wires":[]},{"id":"b47d87b6.03a828","type":"comment","z":"a34e9558.00acc8","name":"previewInput","info":"","x":770,"y":180,"wires":[]},{"id":"68164f73.e803e","type":"debug","z":"a34e9558.00acc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":180,"wires":[]},{"id":"1903284b.471da8","type":"switch","z":"a34e9558.00acc8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"jsonata_exp","v":"msg.payload.data.\"1\".program.tally = false and msg.payload.data.\"1\".preview.tally = false","vt":"jsonata"},{"t":"jsonata_exp","v":"msg.payload.data.\"1\".program.tally","vt":"jsonata"},{"t":"jsonata_exp","v":"msg.payload.data.\"1\".program.tally = false and msg.payload.data.\"1\".preview.tally = true","vt":"jsonata"},{"t":"jsonata_exp","v":"msg.payload.data.\"2\".program.tally = false and msg.payload.data.\"2\".preview.tally = false","vt":"jsonata"},{"t":"jsonata_exp","v":"msg.payload.data.\"2\".program.tally","vt":"jsonata"},{"t":"jsonata_exp","v":"msg.payload.data.\"2\".program.tally = false and msg.payload.data.\"2\".preview.tally = true","vt":"jsonata"},{"t":"jsonata_exp","v":"msg.payload.data.\"3\".program.tally = false and msg.payload.data.\"3\".preview.tally = false","vt":"jsonata"},{"t":"jsonata_exp","v":"msg.payload.data.\"3\".program.tally","vt":"jsonata"},{"t":"jsonata_exp","v":"msg.payload.data.\"3\".program.tally = false and msg.payload.data.\"3\".preview.tally = true","vt":"jsonata"},{"t":"jsonata_exp","v":"msg.payload.data.\"4\".program.tally = false and msg.payload.data.\"4\".preview.tally = false","vt":"jsonata"},{"t":"jsonata_exp","v":"msg.payload.data.\"4\".program.tally","vt":"jsonata"},{"t":"jsonata_exp","v":"msg.payload.data.\"4\".program.tally = false and msg.payload.data.\"4\".preview.tally = true","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":12,"x":170,"y":480,"wires":[["9cfff334.f5927"],["844ddb3a.a66988"],["4a721bce.197134"],["862ef887.3621b8"],["175f0b8a.b014d4"],["77763452.5ae10c"],["5bd87a9f.69ac24"],["cfe1af5f.c15f6"],["a9356423.9c1138"],["2167bca1.eb7c54"],["e9b63216.c847e"],["96bbf26a.15d66"]]},{"id":"1dd429f9.f98c96","type":"link in","z":"a34e9558.00acc8","name":"","links":["419ed774.47f6d8"],"x":595,"y":260,"wires":[["2bea859b.ced2da"]]},{"id":"419ed774.47f6d8","type":"link out","z":"a34e9558.00acc8","name":"1","links":["1dd429f9.f98c96"],"x":455,"y":300,"wires":[]},{"id":"3e3c763d.68a42a","type":"link out","z":"a34e9558.00acc8","name":"2","links":["3846e7ed.7ef318"],"x":455,"y":420,"wires":[]},{"id":"3b19ec92.5005f4","type":"link out","z":"a34e9558.00acc8","name":"3","links":["8fb67310.2447f"],"x":455,"y":540,"wires":[]},{"id":"2a56e913.2cd6b6","type":"link out","z":"a34e9558.00acc8","name":"4","links":["a6472891.264e38"],"x":455,"y":660,"wires":[]},{"id":"fa808cb8.b33d9","type":"link in","z":"a34e9558.00acc8","name":"","links":[],"x":-35,"y":460,"wires":[[]]},{"id":"3846e7ed.7ef318","type":"link in","z":"a34e9558.00acc8","name":"","links":["3e3c763d.68a42a"],"x":595,"y":300,"wires":[["85f83bde.962d58"]]},{"id":"8fb67310.2447f","type":"link in","z":"a34e9558.00acc8","name":"","links":["3b19ec92.5005f4"],"x":595,"y":340,"wires":[["7fe1df82.53136"]]},{"id":"a6472891.264e38","type":"link in","z":"a34e9558.00acc8","name":"","links":["2a56e913.2cd6b6"],"x":595,"y":380,"wires":[["d63d6e65.c9297"]]},{"id":"d190279d.d73f28","type":"link out","z":"a34e9558.00acc8","name":"tally","links":["f645674b.671118"],"x":535,"y":100,"wires":[]},{"id":"f645674b.671118","type":"link in","z":"a34e9558.00acc8","name":"","links":["d190279d.d73f28"],"x":75,"y":480,"wires":[["1903284b.471da8"]]},{"id":"844ddb3a.a66988","type":"change","z":"a34e9558.00acc8","name":"RED","rules":[{"t":"set","p":"background","pt":"msg","to":"RED","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":300,"wires":[["419ed774.47f6d8"]]},{"id":"4a721bce.197134","type":"change","z":"a34e9558.00acc8","name":"GREEN","rules":[{"t":"set","p":"background","pt":"msg","to":"GREEN","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":340,"wires":[["419ed774.47f6d8"]]},{"id":"175f0b8a.b014d4","type":"change","z":"a34e9558.00acc8","name":"RED","rules":[{"t":"set","p":"background","pt":"msg","to":"RED","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":420,"wires":[["3e3c763d.68a42a"]]},{"id":"77763452.5ae10c","type":"change","z":"a34e9558.00acc8","name":"GREEN","rules":[{"t":"set","p":"background","pt":"msg","to":"GREEN","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":460,"wires":[["3e3c763d.68a42a"]]},{"id":"cfe1af5f.c15f6","type":"change","z":"a34e9558.00acc8","name":"RED","rules":[{"t":"set","p":"background","pt":"msg","to":"RED","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":540,"wires":[["3b19ec92.5005f4"]]},{"id":"a9356423.9c1138","type":"change","z":"a34e9558.00acc8","name":"GREEN","rules":[{"t":"set","p":"background","pt":"msg","to":"GREEN","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":580,"wires":[["3b19ec92.5005f4"]]},{"id":"e9b63216.c847e","type":"change","z":"a34e9558.00acc8","name":"RED","rules":[{"t":"set","p":"background","pt":"msg","to":"RED","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":660,"wires":[["2a56e913.2cd6b6"]]},{"id":"96bbf26a.15d66","type":"change","z":"a34e9558.00acc8","name":"GREEN","rules":[{"t":"set","p":"background","pt":"msg","to":"GREEN","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":700,"wires":[["2a56e913.2cd6b6"]]},{"id":"9cfff334.f5927","type":"change","z":"a34e9558.00acc8","name":"WHITE","rules":[{"t":"set","p":"background","pt":"msg","to":"WHITE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":260,"wires":[["419ed774.47f6d8"]]},{"id":"862ef887.3621b8","type":"change","z":"a34e9558.00acc8","name":"WHITE","rules":[{"t":"set","p":"background","pt":"msg","to":"WHITE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":380,"wires":[["3e3c763d.68a42a"]]},{"id":"5bd87a9f.69ac24","type":"change","z":"a34e9558.00acc8","name":"WHITE","rules":[{"t":"set","p":"background","pt":"msg","to":"WHITE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":500,"wires":[["3b19ec92.5005f4"]]},{"id":"2167bca1.eb7c54","type":"change","z":"a34e9558.00acc8","name":"WHITE","rules":[{"t":"set","p":"background","pt":"msg","to":"WHITE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":620,"wires":[["2a56e913.2cd6b6"]]},{"id":"5c6a8620.f0df58","type":"comment","z":"a34e9558.00acc8","name":"tally","info":"","x":610,"y":100,"wires":[]},{"id":"be0eb9d6.3a8f88","type":"comment","z":"a34e9558.00acc8","name":"1","info":"","x":490,"y":260,"wires":[]},{"id":"d97262b4.45388","type":"comment","z":"a34e9558.00acc8","name":"2","info":"","x":490,"y":380,"wires":[]},{"id":"bffce5f8.dc03a8","type":"comment","z":"a34e9558.00acc8","name":"3","info":"","x":490,"y":500,"wires":[]},{"id":"e612e39d.80616","type":"comment","z":"a34e9558.00acc8","name":"4","info":"","x":490,"y":620,"wires":[]},{"id":"ad19f760.a08f98","type":"atem-network","name":"","ipAddress":"192.168.3.29"},{"id":"eb1845e5.ed8d88","type":"ui_group","name":"入力選択","tab":"cf3b683f.2dc198","order":1,"disp":true,"width":"8","collapse":false},{"id":"12c9803f.c32bd","type":"ui_group","name":"切替","tab":"cf3b683f.2dc198","order":2,"disp":true,"width":"8","collapse":false},{"id":"cf3b683f.2dc198","type":"ui_tab","name":"ATEM Mini Pro","icon":"dashboard","disabled":false,"hidden":false}]