node-red-contrib-sonospollytts.json
[{"id":"d7084fc9.e96e5","type":"tab","label":"POLLY","disabled":false,"info":""},{"id":"fe1a4de4.4e3778","type":"sonospollytts","z":"d7084fc9.e96e5","name":"","voice":"1","ssml":false,"dir":"/tmp","sonosipaddress":"192.168.13.2","sonosvolume":"20","sonoshailing":"0","noderedipaddress":"192.168.13.4","noderedport":"1980","config":"2c464467.1d990c","x":360,"y":140,"wires":[[]]},{"id":"b2de009e.613838","type":"inject","z":"d7084fc9.e96e5","name":"","topic":"","payload":"こんにちは","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":140,"wires":[["fe1a4de4.4e3778"]]},{"id":"26fc5b5c.44f7dc","type":"inject","z":"d7084fc9.e96e5","name":"","topic":"","payload":"おはようございます","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":180,"wires":[["fe1a4de4.4e3778"]]},{"id":"2c464467.1d990c","type":"sonospollytts-config","z":"","name":"Bedroom2"}]