node-red-contrib-better-sonos.json
[{"id":"e1a7e54f.0b1ad8","type":"tab","label":"SONOS","disabled":false,"info":""},{"id":"e3a6134c.a7297","type":"better-sonos-control","z":"e1a7e54f.0b1ad8","confignode":"4a9f21ca.14058","name":"Up","mode":"","track":"","volume":"empty","volume_value":"","x":250,"y":80,"wires":[]},{"id":"139db670.93ac8a","type":"better-sonos-status","z":"e1a7e54f.0b1ad8","confignode":"4a9f21ca.14058","name":"Status","x":430,"y":480,"wires":[["de108df8.eacf1","88c2ee36.4b863","fb2ab577.b095b8","251712ae.d9c92e"]]},{"id":"3e6d679d.6f07d8","type":"ui_button","z":"e1a7e54f.0b1ad8","name":"Up","group":"820b4452.e59f68","order":6,"width":"3","height":"1","passthru":false,"label":"Volume Up","tooltip":"","color":"","bgcolor":"","icon":"","payload":"+1","payloadType":"str","topic":"","x":110,"y":80,"wires":[["e3a6134c.a7297","c83d9b21.3bd8d8"]]},{"id":"8a41b54f.d8a2d8","type":"better-sonos-control","z":"e1a7e54f.0b1ad8","confignode":"4a9f21ca.14058","name":"Down","mode":"","track":"","volume":"empty","volume_value":"","x":250,"y":140,"wires":[]},{"id":"6aa0f66.0664f08","type":"ui_button","z":"e1a7e54f.0b1ad8","name":"Down","group":"820b4452.e59f68","order":5,"width":"3","height":"1","passthru":false,"label":"Volume Down","tooltip":"","color":"","bgcolor":"","icon":"","payload":"-1","payloadType":"str","topic":"","x":110,"y":140,"wires":[["8a41b54f.d8a2d8","c83d9b21.3bd8d8"]]},{"id":"760d1ff6.57ba3","type":"better-sonos-control","z":"e1a7e54f.0b1ad8","confignode":"4a9f21ca.14058","name":"Play","mode":"play","track":"","volume":"volume","volume_value":"5","x":250,"y":200,"wires":[]},{"id":"2e9c18bd.47c4a8","type":"ui_button","z":"e1a7e54f.0b1ad8","name":"","group":"820b4452.e59f68","order":9,"width":0,"height":0,"passthru":false,"label":"Play","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":110,"y":200,"wires":[["760d1ff6.57ba3","c83d9b21.3bd8d8"]]},{"id":"e39df976.3606f8","type":"better-sonos-control","z":"e1a7e54f.0b1ad8","confignode":"4a9f21ca.14058","name":"Pause","mode":"pause","track":"","volume":"empty","volume_value":"","x":250,"y":260,"wires":[]},{"id":"a53d46d0.d445f8","type":"ui_button","z":"e1a7e54f.0b1ad8","name":"","group":"820b4452.e59f68","order":10,"width":0,"height":0,"passthru":false,"label":"Pause","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":110,"y":260,"wires":[["e39df976.3606f8","c83d9b21.3bd8d8"]]},{"id":"de108df8.eacf1","type":"ui_text","z":"e1a7e54f.0b1ad8","group":"820b4452.e59f68","order":1,"width":"6","height":"1","name":"","label":"Artist:","format":"{{msg.track.artist}}","layout":"col-center","x":590,"y":460,"wires":[]},{"id":"c83d9b21.3bd8d8","type":"delay","z":"e1a7e54f.0b1ad8","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":170,"y":480,"wires":[["139db670.93ac8a","f006ec32.abd408"]]},{"id":"88c2ee36.4b863","type":"ui_text","z":"e1a7e54f.0b1ad8","group":"820b4452.e59f68","order":2,"width":"6","height":"1","name":"","label":"Title:","format":"{{msg.track.title}}","layout":"col-center","x":590,"y":420,"wires":[]},{"id":"fb2ab577.b095b8","type":"ui_text","z":"e1a7e54f.0b1ad8","group":"820b4452.e59f68","order":3,"width":"3","height":"1","name":"","label":"Vol:","format":"{{msg.volume}}","layout":"col-center","x":590,"y":500,"wires":[]},{"id":"251712ae.d9c92e","type":"ui_text","z":"e1a7e54f.0b1ad8","group":"820b4452.e59f68","order":4,"width":"3","height":"1","name":"","label":"State:","format":"{{msg.state}}","layout":"col-center","x":590,"y":540,"wires":[]},{"id":"9b58f444.145788","type":"ui_button","z":"e1a7e54f.0b1ad8","name":"","group":"820b4452.e59f68","order":8,"width":"3","height":"1","passthru":false,"label":"Next","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":110,"y":320,"wires":[["81d64e0b.f9902","c83d9b21.3bd8d8"]]},{"id":"81d64e0b.f9902","type":"better-sonos-control","z":"e1a7e54f.0b1ad8","confignode":"4a9f21ca.14058","name":"Next","mode":"play","track":"next","volume":"volume","volume_value":"5","x":250,"y":320,"wires":[]},{"id":"4fffc9fb.d1cce8","type":"ui_button","z":"e1a7e54f.0b1ad8","name":"","group":"820b4452.e59f68","order":7,"width":"3","height":"1","passthru":false,"label":"Previous","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":120,"y":380,"wires":[["fab0d4d1.9a1a18","c83d9b21.3bd8d8"]]},{"id":"fab0d4d1.9a1a18","type":"better-sonos-control","z":"e1a7e54f.0b1ad8","confignode":"4a9f21ca.14058","name":"Previous","mode":"","track":"previous","volume":"volume","volume_value":"5","x":260,"y":380,"wires":[]},{"id":"f006ec32.abd408","type":"trigger","z":"e1a7e54f.0b1ad8","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-5","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":380,"y":420,"wires":[["139db670.93ac8a"]]},{"id":"4a9f21ca.14058","type":"better-sonos-config","z":"","name":"Bedroom2","serialnum":"78-28-CA-CF-47-72:G","ipaddress":""},{"id":"820b4452.e59f68","type":"ui_group","z":"","name":"SONOS","tab":"c7e8121f.303fc","order":1,"disp":true,"width":"6"},{"id":"c7e8121f.303fc","type":"ui_tab","z":"","name":"DASHBOARD","icon":"dashboard","order":1,"disabled":false,"hidden":false}]