pon_dashi_flows.json
[{"id":"74bbddb0.4f63d4","type":"tab","label":"フロー 1","disabled":false,"info":""},{"id":"517328ef.07aba8","type":"ui_audio","z":"74bbddb0.4f63d4","name":"","group":"284776a6.b5dbea","voice":"","always":"","x":740,"y":360,"wires":[]},{"id":"7e588bbc.7d28b4","type":"inject","z":"74bbddb0.4f63d4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":60,"wires":[["502cd6e0.cad208"]]},{"id":"502cd6e0.cad208","type":"file in","z":"74bbddb0.4f63d4","name":"","filename":"/audio/1.mp3","format":"","chunk":false,"sendError":false,"encoding":"none","x":500,"y":60,"wires":[["24414bb1.0dafe4"]]},{"id":"5a15a178.cbd46","type":"ui_button","z":"74bbddb0.4f63d4","name":"","group":"284776a6.b5dbea","order":2,"width":0,"height":0,"passthru":true,"label":"歓声と拍手1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":310,"y":480,"wires":[["cb1fc432.606b18"]]},{"id":"aa29ab6a.4c5458","type":"comment","z":"74bbddb0.4f63d4","name":"効果音ラボ・ポン出し画面","info":"","x":130,"y":300,"wires":[]},{"id":"b7ca9b7c.f55018","type":"ui_button","z":"74bbddb0.4f63d4","name":"","group":"284776a6.b5dbea","order":1,"width":0,"height":0,"passthru":true,"label":"和太鼓でドン","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":320,"y":360,"wires":[["59d25e2d.72095"]]},{"id":"59d25e2d.72095","type":"http request","z":"74bbddb0.4f63d4","name":"","method":"GET","ret":"bin","paytoqs":false,"url":"https://soundeffect-lab.info/sound/anime/mp3/drum-japanese1.mp3","tls":"a414b47e.2a1c58","persist":false,"proxy":"","authType":"","x":530,"y":360,"wires":[["517328ef.07aba8"]]},{"id":"24414bb1.0dafe4","type":"debug","z":"74bbddb0.4f63d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":710,"y":60,"wires":[]},{"id":"e6295f04.45d2f","type":"ui_button","z":"74bbddb0.4f63d4","name":"","group":"284776a6.b5dbea","order":1,"width":0,"height":0,"passthru":true,"label":"和太鼓でドドン","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":320,"y":400,"wires":[["c9bd149c.d74d08"]]},{"id":"c9bd149c.d74d08","type":"http request","z":"74bbddb0.4f63d4","name":"","method":"GET","ret":"bin","paytoqs":false,"url":"https://soundeffect-lab.info/sound/anime/mp3/drum-japanese2.mp3","tls":"a414b47e.2a1c58","persist":false,"proxy":"","authType":"","x":530,"y":400,"wires":[["517328ef.07aba8"]]},{"id":"aecd3f8d.ca64","type":"http request","z":"74bbddb0.4f63d4","name":"","method":"GET","ret":"bin","paytoqs":false,"url":"https://soundeffect-lab.info/sound/anime/mp3/tin1.mp3","tls":"a414b47e.2a1c58","persist":false,"proxy":"","authType":"","x":530,"y":440,"wires":[["517328ef.07aba8"]]},{"id":"5b5f8079.ca58b","type":"ui_button","z":"74bbddb0.4f63d4","name":"","group":"284776a6.b5dbea","order":1,"width":0,"height":0,"passthru":true,"label":"チーン","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":290,"y":440,"wires":[["aecd3f8d.ca64"]]},{"id":"cb1fc432.606b18","type":"http request","z":"74bbddb0.4f63d4","name":"","method":"GET","ret":"bin","paytoqs":false,"url":"https://soundeffect-lab.info/sound/voice/mp3/people/people-performance-cheer1.mp3","tls":"a414b47e.2a1c58","persist":false,"proxy":"","authType":"","x":530,"y":480,"wires":[["517328ef.07aba8"]]},{"id":"5708c45a.f8594c","type":"ui_button","z":"74bbddb0.4f63d4","name":"","group":"284776a6.b5dbea","order":2,"width":0,"height":0,"passthru":true,"label":"ドンドンパフパフ","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":330,"y":520,"wires":[["43f592a1.956f8c"]]},{"id":"43f592a1.956f8c","type":"http request","z":"74bbddb0.4f63d4","name":"","method":"GET","ret":"bin","paytoqs":false,"url":"https://soundeffect-lab.info/sound/anime/mp3/dondonpafupafu1.mp3","tls":"a414b47e.2a1c58","persist":false,"proxy":"","authType":"","x":530,"y":520,"wires":[["517328ef.07aba8"]]},{"id":"2ee0e29b.fab2de","type":"ui_button","z":"74bbddb0.4f63d4","name":"","group":"284776a6.b5dbea","order":2,"width":0,"height":0,"passthru":true,"label":"ツッコミを入れる","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":330,"y":560,"wires":[["56e05eb1.ab869"]]},{"id":"56e05eb1.ab869","type":"http request","z":"74bbddb0.4f63d4","name":"","method":"GET","ret":"bin","paytoqs":false,"url":"https://soundeffect-lab.info/sound/anime/mp3/feed1.mp3","tls":"a414b47e.2a1c58","persist":false,"proxy":"","authType":"","x":530,"y":560,"wires":[["517328ef.07aba8"]]},{"id":"5e320864.eb0a98","type":"ui_button","z":"74bbddb0.4f63d4","name":"","group":"284776a6.b5dbea","order":2,"width":0,"height":0,"passthru":true,"label":"みんなで大笑い1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":330,"y":600,"wires":[["5673c066.17962"]]},{"id":"5673c066.17962","type":"http request","z":"74bbddb0.4f63d4","name":"","method":"GET","ret":"bin","paytoqs":false,"url":"https://soundeffect-lab.info/sound/voice/mp3/people/people-studio-laugh-large1.mp3","tls":"a414b47e.2a1c58","persist":false,"proxy":"","authType":"","x":530,"y":600,"wires":[["517328ef.07aba8"]]},{"id":"1cbb0f0f.c48751","type":"ui_button","z":"74bbddb0.4f63d4","name":"","group":"284776a6.b5dbea","order":2,"width":0,"height":0,"passthru":true,"label":"自主規制ピー音","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":320,"y":640,"wires":[["175c6b8d.a702a4"]]},{"id":"175c6b8d.a702a4","type":"http request","z":"74bbddb0.4f63d4","name":"","method":"GET","ret":"bin","paytoqs":false,"url":"https://soundeffect-lab.info/sound/anime/mp3/self-regulation1.mp3","tls":"a414b47e.2a1c58","persist":false,"proxy":"","authType":"","x":530,"y":640,"wires":[["517328ef.07aba8"]]},{"id":"e8c70e23.df569","type":"ui_button","z":"74bbddb0.4f63d4","name":"","group":"284776a6.b5dbea","order":2,"width":0,"height":0,"passthru":true,"label":"クイズ出題1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":310,"y":680,"wires":[["57f4212a.3326c"]]},{"id":"57f4212a.3326c","type":"http request","z":"74bbddb0.4f63d4","name":"","method":"GET","ret":"bin","paytoqs":false,"url":"https://soundeffect-lab.info/sound/anime/mp3/question1.mp3","tls":"a414b47e.2a1c58","persist":false,"proxy":"","authType":"","x":530,"y":680,"wires":[["517328ef.07aba8"]]},{"id":"33eb7dc3.f66442","type":"ui_button","z":"74bbddb0.4f63d4","name":"","group":"284776a6.b5dbea","order":2,"width":0,"height":0,"passthru":true,"label":"クイズ正解1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":310,"y":720,"wires":[["c57392c8.1e355"]]},{"id":"c57392c8.1e355","type":"http request","z":"74bbddb0.4f63d4","name":"","method":"GET","ret":"bin","paytoqs":false,"url":"https://soundeffect-lab.info/sound/anime/mp3/correct1.mp3","tls":"a414b47e.2a1c58","persist":false,"proxy":"","authType":"","x":530,"y":720,"wires":[["517328ef.07aba8"]]},{"id":"dd52298e.71ef68","type":"ui_button","z":"74bbddb0.4f63d4","name":"","group":"284776a6.b5dbea","order":2,"width":0,"height":0,"passthru":true,"label":"クイズ不正解1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":320,"y":760,"wires":[["e875ca75.2d9448"]]},{"id":"e875ca75.2d9448","type":"http request","z":"74bbddb0.4f63d4","name":"","method":"GET","ret":"bin","paytoqs":false,"url":"https://soundeffect-lab.info/sound/anime/mp3/incorrect1.mp3","tls":"a414b47e.2a1c58","persist":false,"proxy":"","authType":"","x":530,"y":760,"wires":[["517328ef.07aba8"]]},{"id":"8ac543c3.3c029","type":"ui_button","z":"74bbddb0.4f63d4","name":"","group":"6dad3ad1.2a7ec4","order":0,"width":0,"height":0,"passthru":false,"label":"拍手","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":330,"y":200,"wires":[["cb1fc432.606b18"]]},{"id":"9d5aa272.e96e9","type":"ui_button","z":"74bbddb0.4f63d4","name":"","group":"6dad3ad1.2a7ec4","order":0,"width":0,"height":0,"passthru":false,"label":"笑","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":330,"y":240,"wires":[["5673c066.17962"]]},{"id":"eb0d6604.89fe58","type":"comment","z":"74bbddb0.4f63d4","name":"応援画面","info":"","x":80,"y":200,"wires":[]},{"id":"284776a6.b5dbea","type":"ui_group","z":"","name":"ポン出し","tab":"6ad2798.0b8f188","order":1,"disp":true,"width":"6","collapse":false},{"id":"a414b47e.2a1c58","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"6dad3ad1.2a7ec4","type":"ui_group","z":"","name":"効果音ラボ","tab":"3e35709.7b27c9","order":1,"disp":true,"width":"6","collapse":false},{"id":"6ad2798.0b8f188","type":"ui_tab","z":"","name":"効果音ラボ","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"3e35709.7b27c9","type":"ui_tab","z":"","name":"応援","icon":"dashboard","order":2,"disabled":false,"hidden":false}]